* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6495ed;
}

.main {
  margin: 20px auto;
  border-radius: 15px;
  max-width: 1100px;
  background-color: #dc143c;
  padding: 30px 2%;
}

.main h2 {
  font-size: 45px;
  color: #ef5350;
  text-align: center;
}

.poke-boxes {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.poke-box {
  border-radius: 10px;
  width: 29%;
  margin: 20px 2%;
  background-color: rgb(230, 230, 230);
}

.poke-box img {
  width: 100%;
}

.poke-box p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .poke-box {
    width: 100%;
    text-align: center;
  }
  .poke-box img {
    max-width: 300px;
  }
}
